@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  font-family: 'Lobster', cursive;
}

.nav{
  background-color: darkslategray;
  color: #FFF;
  display: flex;
  align-items: center;
  height:60px;
}

.link{
  text-decoration: none;
  color:#FFF;
  font-size: 1rem;
  padding:0px 5px
}

.brand{
  font-size: 1.7rem;
  padding-right: 10px;
}

body{
  margin:0px;
}

.container{
padding: 0rem 2rem;
}